<div class="toolbar" role="banner">
  <img
    width="120"
    alt="Angular Logo"
    src="../../assets/logohead.png"
  />
    <div class="spacer"></div>
    <a routerLink="/landingpage" aria-label="Home" title="Home" id="header-link">
      Home
    </a>
    <a href="landingpage#aboutus"aria-label="About" title="About" id="header-link">
      About Us
    </a>
    <a href="landingpage#services" aria-label="Services" title="Services" id="header-link">
      Services
    </a>
    <a href="landingpage#contactus"  aria-label="ContactUs"  title="ContactUs" id="header-link">
      Contact Us
    </a>
    <a routerLink="/signup" aria-label="Signup" title="Signup" id="header-link-last">
      Sign Up
    </a>  
</div>
<div class="spacing"></div>


<div class="container">
    <!-- HOME -->
  <div class="row">
    <div class="col-sm" id="home-intro">
        <span class="home-intro">We help you in caring for your pet and supporting their growth.</span>
        <br><br><br>
        <button type="button" class="btn btn-outline-warning">Sign Up Now!</button>
    </div>
    <div class="col-sm">
        <img width="98%" src="../../assets/8.png" alt="">
    </div>
  </div>
  <!-- END OF HOME -->

  <br><br>
  <mat-divider id="aboutus"></mat-divider>
  <br><br>

  <!-- ABOUT US -->
  <div class="row d-flex align-items-center" >
    <div class="col text-center">
    <span class="titleheading">About Us</span>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm">
        <img width="90%" src="../../assets/10.png" alt="">
    </div>
    <div class="col-sm">
        <p class="paragraphs">Paw Patrol is a premier home service pet grooming company that provides top-notch grooming services for your beloved furry companions. Our team of dedicated and experienced groomers understands that your pets are more than just animals - they're family. That's why we strive to provide the highest level of care and attention to detail when grooming your pets.
        
        <br><br>
        What sets Paw Patrol apart from other pet grooming companies is our commitment to providing exceptional customer service. We understand that pets can be nervous or anxious during grooming sessions, which is why we take the time to get to know your pet and make them feel comfortable and relaxed before starting any grooming procedures.
        </p>
    </div>
  </div>
  <!-- END OF ABOUT US -->

  <br><br>
  <mat-divider id="services"></mat-divider>
  <br><br>

  <!-- SERVICES -->
  <div class="row d-flex align-items-center" >
    <div class="col text-center">
    <span class="titleheading">Services</span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm">
        <p class="paragraphs" id="services-intro">
            At Paw Patrol, we are dedicated to providing the best possible care for your pets. Our goal is to exceed your expectations and provide you with a hassle-free, stress-free grooming experience for your furry family members. Contact us today to schedule your next grooming appointment and join the Paw Patrol family!
        </p>
        <br><br>
        <button type="button" class="btn btn-outline-warning">Sign Up to View Services</button>
    </div>
    <div class="col-sm">
        <img width="98%" src="../../assets/11.png" alt="">
    </div>
  </div>
<!-- END OF SERVICES -->

<br><br>
  <mat-divider id="contactus"></mat-divider>
<br><br>
</div>

<app-footer></app-footer>
