<div class="container">

    <div class="col">
        <!-- Account details card-->
        <div class="card mb-4">
          <div class="card-header">Account Details</div>
          <div class="card-body">
            <form #updateUsers="ngForm"
              [formGroup]="userDetailsForm"
            >
              <!-- Form Row-->
              <div class="row gx-3 mb-3">
                <!-- Form Group (first name)-->
                <div class="col-md-6">
                  <label class="small mb-1" for="inputFirstName"
                    >First name</label
                  >
                  <input
                    class="form-control"
                    id="inputFirstName"
                    type="text"
                    placeholder="Enter your first name"
                    value=""
                    formControlName="fname"
                    [(ngModel)]="user.fname">
                </div>
                <!-- Form Group (last name)-->
                <div class="col-md-6">
                  <label class="small mb-1" for="inputLastName">Last name</label>
                  <input
                    class="form-control"
                    id="inputLastName"
                    type="text"
                    placeholder="Enter your last name"
                    value=""
                    formControlName="lname"
                    [(ngModel)]="user.lname">
                </div>
              </div>
              <!-- Form Row        -->
              <div class="mb-3">
                <label class="small mb-1" for="inputUsername">Address</label>
                <input
                  formControlName="address"
                  class="form-control"
                  id="inputUsername"
                  type="text"
                  placeholder="Enter your address"
                  value="address"
                  [(ngModel)]="user.address">
              </div>
              <!-- Form Group (phone number)-->
              <div class="mb-3">
                <label class="small mb-1" for="inputPhone"
                  >Phone Number</label
                >
                <input
                  class="form-control"
                  id="inputPhone"
                  type="tel"
                  placeholder="Enter your phone number"
                  value=""
                  formControlName="phonenumber"
                  [(ngModel)]="user.phonenumber">
              </div>
              <!-- Form Row-->
              <div class="row gx-3 mb-3">
                <!-- Form Group (email address)-->
                <div class="col-md-6">
                  <label class="small mb-1" for="inputEmailAddress">Email Address</label>
                  <input
                    class="form-control"
                    id="inputEmailAddress"
                    type="email"
                    placeholder="Enter your email address"
                    value=""
                    formControlName="email"
                    [(ngModel)]="user.email">
                </div>
                <!-- Form Group (PASSWORD)-->
                <div class="col-md-6">
                    <label class="small mb-1" for="inputEmailAddress">Password</label>
                    <input
                      class="form-control"
                      id="inputPassword"
                      type="password"
                      placeholder="Enter your password"
                      value=""
                      formControlName="password"
                      [(ngModel)]="user.password">
                  </div>
              </div>
              <!-- Save changes button-->
              <button class="btn" type="button" (click)="updateUserDetails(updateUsers.value)">Save changes</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  
    <div id="logoutbtn" class="d-flex justify-content-center">
      <button id="logoutbtn" class="btn btn-light" (click)="(logout())">
        Logout
      </button>
    </div>