
<div class="container">
    <div class="row">
        <div class="col">
            <img width="60%" src="../../assets/logo.png" alt="">
        </div>
        <div class="col py-3 px-3">
            <h5>Contact Us</h5>
            <hr class="mx-auto" style="border: rgb(184, 184, 184) 1px solid;">
            <p><i class="bi bi-geo-alt" style="color:goldenrod;"></i> P. Paredes St, Sampaloc, Manila, 1015 Metro Manila</p>
            <p><i class="bi bi-phone" style="color: goldenrod;"></i> 09123456789 </p>
            <p><i class="bi bi-telephone" style="color: goldenrod;"></i> 1234 - 5678 </p>
        </div>
        <div class="col py-3 px-3">
            <h5>Follow Us</h5>
            <hr class="mx-auto" style="border: rgb(184, 184, 184) 1px solid;">
            <a href="" target="_blank" style="color: goldenrod; padding: 0px 10px; font-size: 6vh;">
            <i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank" style="color: goldenrod; padding: 0px 10px; font-size: 6vh;">
            <i class="bi bi-instagram" ></i></a>
            <a href="https://www.twitter.com/" target="_blank" style="color: goldenrod; padding: 0px 10px; font-size: 6vh;">
            <i class="bi bi-twitter" ></i></a>
        </div>
    </div>
    </div>
    
    <div class="container">
        <div class="row py-4 d-flex align-items-center">
          <div class="col-md-12 text-center">
            &copy; 2023 Paw Patrol | All Rights Reserved.
          </div>
        </div>
      </div>