$titlefont: 'Fuzzy Bubbles', cursive;

h2{
    font-family: $titlefont;
}

.main{
    margin: 0px 50px;
    font-family: 'Montserrat', sans-serif;
    

}

table{
    font-family: 'Montserrat', sans-serif;
}