<div class="toolbar" role="banner">
    <img
      width="120"
      alt="Angular Logo"
      src="../../assets/logohead.png"
    />
      <div class="spacer"></div>
      <a routerLink="/landingpage" aria-label="Home" title="Home" id="header-link">
        Home
      </a>
      <a routerLink="/landingpage" href="landingpage#aboutus"aria-label="About" title="About" id="header-link">
        About Us
      </a>
      <a routerLink="/landingpage" href="landingpage#services" aria-label="Services" title="Services" id="header-link">
        Services
      </a>
      <a routerLink="/landingpage" href="landingpage#contactus"  aria-label="ContactUs"  title="ContactUs" id="header-link">
        Contact Us
      </a>
      <a routerLink="/signup" aria-label="Signup" title="Signup" id="header-link-last">
        Sign Up
      </a>  
</div>
<div class="spacing"></div>