<div class="toolbar" role="banner">
    <img
      width="120"
      alt="Angular Logo"
      src="../../assets/logohead.png"
    />
      <div class="spacer"></div>
      <a routerLink="/admin/dashboard" aria-label="My Appointments" title="My Appointments" id="header-link">
        Dashboard
      </a>
      <a routerLink="/admin/services" aria-label="Services" title="Services" id="header-link">
        Services
      </a> 
      <a routerLink="/admin/profile" aria-label="Profile"  title="Profile" id="header-link-last">
        Profile
      </a> 
</div>
<div class="spacing"></div>